{% extends 'base.html.twig' %}

{% block body %}
    <h1>MenuItem</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menuItem.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menuItem.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menuItem.price }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menuitem_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('menuitem_edit', { 'id': menuItem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
